alias reload='source ~/.bash_profile'
alias ea='vim ~/.aliases && reload'
alias func='vim ~/.functions && reload'
alias editvim='vim ~/.vimrc'
alias vi='vim'

# Always open tmux in 256 color mode
alias tmux='tmux -2'

# Open tmux session
alias tma='tmux attach'
alias tml='tmux ls'

# Terminal
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias la='ls -A -l -G' # List all
alias l.='ls -d .[^.]*' # List hidden
alias lsd='ls -l | grep "^d"' # List directories
alias cl='clear' #clear screen

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Finder
alias showhidden="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Processes
alias tu='top -o cpu' # cpu
alias tm='top -o vsize' # memory

# IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Git
# Probably belongs in .gitconfig
alias gb='git branch'
alias ga='git add'
alias gc='git commit'
alias gco='git checkout'
alias gd='git difftool'
alias gdm='git diff master'
alias gl='git log'
alias gla='git log --all --oneline --graph --decorate'
alias gnp="git-notpushed"
alias gp='git pull --rebase'
alias gs='git status -sb'
alias gt='git tag'
alias gm='git merge --no-ff'
# Unstage a file: grh <filename>
alias grh='git reset HEAD'
alias grm='git rm'
# To stop tracking a file:
# Add file to .gitignore, then do: grc filename
alias grc='git rm --cached'

# Svn
alias svnignore='svn propedit svn:ignore .'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup; npm install npm -g; npm update -g; gem update --system; gem update'

# Shortcuts
alias dot='cd ~/dotfiles'
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias drop='cd ~/Dropbox'
alias htdocs='cd ~/htdocs'
alias work='cd ~/work'
alias pro='cd ~/Projects'
alias code='cd ~/code'
