alias reload='source ~/.bash_profile'
alias ea='vi ~/.aliases && reload'
alias func='vi ~/.functions && reload'
alias editvim='vi ~/.vimrc'

# Terminal
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias la='ls -A -l -G' # List all
alias l.='ls -d .[^.]*' # List hidden
alias lsd='ls -l | grep "^d"' # List directories
alias cl='clear' #clear screen

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Finder
alias o='open .'
alias showhidden="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Processes
alias tu='top -o cpu' # cpu
alias tm='top -o vsize' # memory

# IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Git
# Probably belongs in .gitconfig
alias gb='git branch'
alias ga='git add'
alias gc='git commit'
alias gco='git checkout'
alias gd='git diff'
alias gdm='git diff master'
alias gl='git log'
alias gla='git log --all --oneline --graph --decorate'
alias gnp="git-notpushed"
alias gp='git push'
alias gs='git status -sb'
alias gt='git tag'
alias gm='git merge --no-ff'
# Unstage a file: grh <filename>
alias grh='git reset HEAD'
alias grm='git rm'
# To stop tracking a file:
# Add file to .gitignore, then do: grc filename
alias grc='git rm --cached'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Shortcuts
alias dot='cd ~/dotfiles'
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias drop='cd ~/Dropbox'
alias htdocs='cd ~/htdocs'
alias work='cd ~/work'
alias www='cd /home/www'
