alias reload='source ~/.bash_profile'
alias ea='nvim ~/.aliases && reload'
alias func='nvim ~/.functions && reload'
alias vim='nvim'
alias vi='nvim'

# Always open tmux in 256 color mode
alias tmux='tmux -2'

# Make sure the right color profile is used when using ssh
alias ssh="TERM=xterm-256color ssh"

# Terminal
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias ls='ls --color=auto' # Always output in color
alias lsh='ls -ld .[^.]*' # List hidden
alias lsd='ls -l | grep "^d"' # List directories
alias cl='clear' # Clear screen

# Always use verbose for these commands
alias mv='mv -v'
alias cp='cp -v'

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Finder
alias showhidden="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Processes
alias topu='top -o cpu' # cpu
alias topm='top -o vsize' # memory

# Turn wifi on/off
# Usage: wifi off
alias wifi="networksetup -setairportpower Wi-Fi"

# Make sure nvim is used as difftool for git
alias vimdiff='nvim -d'

# Update homebrew
alias brewup='brew update; brew upgrade; brew cleanup; brew doctor'

# Enable completions for alias
complete -o default -o nospace -F _todo todo

# Stack
alias ghci="stack ghci"
alias runghc="stack runghc"

# Shortcuts
alias dot='cd ~/.dotfiles'
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias drop='cd ~/Dropbox'
alias work='cd ~/work'
alias pro='cd ~/Projects'
alias code='cd ~/code'
alias doc='cd ~/Documents'
alias umai='cd ~/code/umai'
alias notes='cd ~/Library/Mobile\ Documents/iCloud~md~obsidian/Documents/Notes'

# Reinstall node modules with npm
alias npmri='rm -rf node_modules && npm i'

# pnpm is difficult to type
alias pn=pnpm
# pnpm's npx equivalent
alias pnx='pnpm dlx'

# IP address
alias ip="ifconfig | sed -En 's/127.0.0.1//;s/.*inet (addr:)?(([0-9]*\.){3}[0-9]*).*/\2/p'"

