# Create new directory and open it
md() {
  mkdir -p "$1"
  cd "$1" || exit 1
}

# Start an HTTP server from a directory, optionally specifying the port
server() {
  (port="${1:-8000}"
  open "http://localhost:${port}/" && python -m SimpleHTTPServer "$port")
}

# Change directory to the current Finder directory
cdf() {
  target=$(osascript -e 'tell application "Finder" to if (count of Finder windows) > 0 then get POSIX path of (target of front Finder window as text)')
  if [ "$target" != "" ]; then
    cd "$target" || exit 1; pwd
  else
    echo 'No Finder window found' >&2
  fi
}

# Attach to tmux session if it exists otherwise open fzf
tm() {
  [ -n "$TMUX" ] && change="switch-client" || change="attach-session"
  if [ "$1" ]; then
    tmux $change -t "$1" 2>/dev/null || (tmux new-session -d -s "$1" && tmux $change -t "$1"); return
  fi
  session=$(tmux list-sessions -F "#{session_name}" 2>/dev/null | fzf --exit-0) &&  tmux $change -t "$session" || echo "No sessions found."
}

# Create new LICENSE file
license() {
  npx license "$(npm get init.license)" -o "$(npm get init.author.name)" > LICENSE
}

# .editorconfig file
editorconfig() {
  curl https://gist.githubusercontent.com/hendriklammers/2b09d9c5d6dada7a12ee311a65b6ca60/raw/8dec201982cc2b6c4dd37cd028b71bfc876d3763/.editorconfig -o .editorconfig -s
}

# Install npm package with separate types package
nit() {
  npm install -S "$1"
  npm install -D @types/"$1"
}
