[user]
	name = Hendrik Lammers
	email = lammers@gmail.com
[color]
	ui = true
[core]
  editor = nvim
  excludesfile = ~/.gitignore
  autocrlf = input
  filemode = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
  log = true
	tool = fugitive
[diff]
  tool = fugitive
[difftool]
  prompt = false
[push]
  default = simple
	followTags = true
[alias]
  a = add
  b = branch
  c = commit
  ca = commit --amend
  ce = commit --amend --no-edit
  co = checkout
	sw = switch
  d = difftool
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  m = merge
  p = pull
  s = status -sb
  t = tag
  parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
	# Opens a new pr for current branch with $1 argument as base e.g. $ git req master
	req = "!f() { gh pr create --base \"$1\" --web; }; f"
[pull]
  rebase = true
[rerere]
  enabled = true
[credential]
  helper = osxkeychain
[tag]
  sort = version:refname
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
