# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# List all autocomplete matches immediately
set show-all-if-ambiguous on

# Add trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Expand on completion
set expand-tilde on
