priority -50

snippet ! "!important CSS (!)"
!important$0
endsnippet

snippet bg "background" b
background: $1;$0
endsnippet

snippet bg+ "background long" b
background: ${1:#fff} url('${2:image.jpg}') ${3:no-repeat} ${4:0 0};$0
endsnippet
