snippet desc "Jest - describe" b
describe('${1:description}', () => {
	$0
})
endsnippet

snippet test "Jest - test" b
test('${1:name}', () => {
	${2:expect()}
})
endsnippet

snippet it "Jest - it" b
it('${1:name}', () => {
	${2:expect()}
})
endsnippet

snippet ita "Jest - it async" b
it('${1:name}', async () => {
	const result = await $2
	expect(result).${3:toBe($4)}
})
endsnippet
