snippet rc "React Component" b
import React, { Component } from 'react'

class ${1:MyComponent} extends Component {
	constructor(props) {
		super(props)
		this.state = {}
	}

	render() {
		return (
			<div>
				$0
			</div>
		)
	}
}

export default $1
endsnippet

snippet rbind "React bind methods to this" b
this.${1:method} = this.$1.bind(this)$0
endsnippet
