extends html

snippet jdocinc "Joomla include module position"
<jdoc:include type="modules" name="${1:position}" />$0
endsnippet

snippet jtext "Joomla JText" i
<?php echo JText::_('$1'); ?>$0
endsnippet

snippet temp "$templateUrl" i
<?php echo $templateUrl; ?>
endsnippet

snippet php "<?php ?>" i
<?php $1 ?>$0
endsnippet

snippet vd "var_dump" i
var_dump($1);$0
endsnippet

